<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar showCancelButton="focus"> </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content>
    <ion-card>
      <ion-item>
        <ion-avatar>
          <img src="https://pbs.twimg.com/profile_images/1397590536698073091/6NrxyKyT_400x400.jpg">
        </ion-avatar>
        <ion-label>
          <h3>Meus Status</h3> 
          <p>Toque para mais atualizar seu status</p>
        </ion-label>
        <ion-note slot="end">
          <ion-label>
            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
          </ion-label>
        </ion-note>
      </ion-item>
    </ion-card>
  </ion-card-content>
 
    <ion-card-content>
      <ion-item-sliding id="item100">
        <ion-item>
          <ion-avatar>
            <img src="https://pbs.twimg.com/profile_images/1398731863485829121/C4Zm9dpt_400x400.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Moraes</h2>
            <p>tristeza</p>
            </ion-label>
          <ion-note slot="end">
            05:52
          </ion-note>
        </ion-item>

        <ion-item-options side="start">
          <ion-item-option color="tertiary">
            <ion-icon slot="icon-only" name="share-social" color="light"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item-options side="end">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="heart" color="light"></ion-icon>
          </ion-item-option>
          <ion-item-option>
            <ion-icon slot="icon-only" name="chatbubble-ellipses" color="light" color="light"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card-content>

    <ion-card-content>
      <ion-item-sliding id="item100">
        <ion-item >
          <ion-avatar>
            <img src="https://pbs.twimg.com/profile_images/1400677708112318465/aIygPxr-_400x400.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Karen</h2>
            <p>cansada aff 🥵🥵🥵</p>
            <p>muito trabalho da school</p>
          </ion-label>
          <ion-note slot="end">
            15:45 
          </ion-note>
        </ion-item>

        <ion-item-options side="start">
          <ion-item-option color="tertiary">
            <ion-icon slot="icon-only" name="share-social" color="light" ></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item-options side="end">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="heart" color="light"></ion-icon>
          </ion-item-option>
          <ion-item-option>
            <ion-icon slot="icon-only" name="chatbubble-ellipses" color="light"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card-content>

    <ion-card-content>
      <ion-item-sliding id="item100">
        <ion-item >
          <ion-avatar>
            <img src="https://pbs.twimg.com/media/ExMfAHWVkAE-Fqe?format=jpg&name=large">
          </ion-avatar>
          <ion-label>
            <h2>Only Son</h2>
            <p>bom dia pela metade pq</p>
            <p>ainda to dormindo</p>
          </ion-label>
          <ion-note slot="end">
            11:24
          </ion-note>
        </ion-item>

        <ion-item-options side="start">
          <ion-item-option color="tertiary">
            <ion-icon slot="icon-only" name="share-social" color="light"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item-options side="end">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="heart" color="light"></ion-icon>
          </ion-item-option>
          <ion-item-option>
            <ion-icon slot="icon-only" name="chatbubble-ellipses" color="light"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card-content>

    <ion-card-content>
      <ion-item-sliding id="item100">
        <ion-item >
          <ion-avatar>
            <img src="https://pbs.twimg.com/profile_images/844379626461892612/BciZyUvQ_400x400.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Filosofia Moderma</h2>
            <p>As pessoas só precisam</p>
            <p>de uma coisa</p>
            <img src="https://pbs.twimg.com/media/E4B8GemUYAA7dpN?format=jpg&name=large">
          </ion-label>
          <ion-note slot="end">
            11:24
          </ion-note>
        </ion-item>

        <ion-item-options side="start">
          <ion-item-option color="tertiary">
            <ion-icon slot="icon-only" name="share-social" color="light"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item-options side="end">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="heart" color="light"></ion-icon>
          </ion-item-option>
          <ion-item-option>
            <ion-icon slot="icon-only" name="chatbubble-ellipses" color="light"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card-content>
  
</ion-content>
